.question {
    margin-top: 20px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    max-height: 813px;
}

.main img {
    overflow:hidden !important; 
    height: auto;
    display: block;
}
  /* Make the image responsive */
#points-container img {
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: scale-down;
}

.main .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
.main h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212529;
    padding: 12px 24px;
    color: #FFFFFF;
    border-radius: 8px;
}




.contact_data{
    display: flex;
    align-items: center;
}

.contact_data{
    margin: 20px;
}


.container {
    margin: 20px auto;
}
.container a{
    color: #212529;
}
.container a:hover{
    color: #495057;
}

.list{
    margin-top: 30px;
    margin-bottom: 30px;
}
.list_question{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*  NAVBER */
.navbar-brand{
    margin-left: 20px;
    font-size: 2.2rem;
}

.collapse{
    margin-right: 80px;
}

.nav-item{
    padding-left: 20px;
}

fieldset {
    margin: 20px 20px;
}


/* Zaznaczanie odpowiedzi */
/* Ukryie starych przycisków */
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
/* NIE zaznaczone */
.radio-toolbar label {
    margin: 5px;
    color:#212529;
    position: relative;
    display:inline-block;
    padding: 10px 20px;
    border: 3px solid #212529;
    transform: skew(-20deg);
    width: 300px;
    }
/*
.radio-toolbar label:after {
    position: absolute;
    content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    border: 3px solid #212529;
    transform: skew(-20deg);
}
*/
.radio-toolbar label:hover {
    background: #D3D3D3;
}
/* zaznaczone */
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #212529;
    border-color: #212529;
    color:#FFFFFF;
}

.button_score{
    /* margin: 50px auto 50px auto; */
    margin: 0px auto 0px auto;
    text-align: center;
    font-weight: 800;
}

.btn{

    padding: 13px 20px 13px 20px;
    border-radius: 8px;
}



.container_info{
    background-color: #212529;
    color: #FFFFFF;
    padding: 80px;
}

.container_info p{
    margin-bottom: auto;
}


.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

.center_con {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




.footer-contact a{
    color: #212529;
    font-weight: bold;
}

.quiz-alert {
    display: block;
    position: fixed;
    bottom:60px;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: fade-out 8s;
    animation-fill-mode: forwards;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    opacity: 90%;
    z-index: 3;
}

@keyframes fade-out {
    from {
        display: block;
    }
    90% {
        opacity: 90%;
        max-height: 300px;
        padding: 16px;
        bottom: 60px;
    }
    to {
        max-height: 0;
        opacity: 0;
        bottom: -20px;
    }
}





/* TABLE SCORE  
td{ 
    border: 1px solid black; 
    text-align: center;
    width: 400px;
    height: 40px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(165, 165, 161);
    font-size: 20px;
    padding: 50px;
}
*/

.container h2 {
    font-weight: bold;
}

.table {
    margin: 30px auto;
    overflow: auto;
}

#points-container {
    display: flex;
    position: relative;
    width: 50%;
    height: 80vh;
    max-height: 813px;
}


#mickiewicz-container {
    display: flex;
    position: relative;
    width: 30%;
    height: 80vh;
    max-height: 813px;
}

#mickiewicz-info {
    position: relative;
    width: 80%;
    border-radius: 20px;
    max-width: 500px;
    background-color: #212529;
    color: white;
    flex-grow:0;
    margin:auto;
    margin-top:200px;
}

#mickiewicz-info p{
    padding: 35px 30px;
    font-size: 1.2rem;
    margin-bottom: 0;
}

#mickiewicz-info img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: fit-content;
    transform: scale(50%) translate(80%, -130%);
}


#game-rules {
    display: flex;
    align-items: center;
    width: 25%;
    height: 80vh;
    max-height: 813px;
}

#game-rules img {
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1300px) {
    .navbar-brand{
        font-size: 1.7rem;
    }
    .main {
        flex-direction: column;
        height: unset;
        max-height: unset;
        align-items: center;
    }

    #mickiewicz-container {
        order: 2;
        width: 90%;
        margin-top: 200px;
        margin-bottom: 50px;
        height: unset;
        max-height: unset;
    }
    #points-container{
        order: 1;
        width: 90%;
        margin-bottom: 50px;
        height: unset;
        max-height: unset;
    }
    #game-rules{
        order: 3;
        width: 90%;
        justify-content: center;
        height: unset;
        max-height: unset;
    }
}

@media screen and (max-width: 730px) {
    #mickiewicz-info {
        margin-top: 180px
    }
    .navbar-brand{
        font-size: 1.3rem;
    }
    .button_score button {
        width: 90%
    }
    #mickiewicz-info img {
        transform: scale(40%) translate(100%, -155%);
    }
}

@media screen and (max-width: 542px) {
    #mickiewicz-info {
        margin-top: 120px
    }
    #mickiewicz-info p {
        font-size: 1rem;
    }
    #mickiewicz-info img {
        transform: scale(30%) translate(140%, -190%);
    }
    .navbar-toggler {
        width: 100%;
        margin: 20px;
    }
    .navbar-container {
        justify-content: center !important;
    }
    .navbar-brand{
        font-size: 1.05rem;
    }
}