td{ 
    border: 1px solid black; 
    text-align: center;
    width: 400px;
    height: 40px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    font-size: 20px;
    padding: 50px
}

.table {
    margin: 0px auto;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    overflow: auto;
}