<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/quiz_detail.css' %}">
    <title>Quiz o życiu i twórczości Adama Mickiewicza - Pytanie</title>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'polls:index' %}" >Quiz o życiu i twórczości Adama Mickiewicza</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'polls:index' %}">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:wyniki' %}">Tabela Wyników</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:contact' %}">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


      
  <div class="container">
    <div class="row question">
        <div class="col d-flex align-items-center">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="row">
                        <h1>{{ question.question_text }}</h1><br>
                        {% if question.quote %}
                          <h4>{{ question.quote }}</h4>
                        {% endif %}
                    </div>
                    <br>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <div class="radio-toolbar">
                      {% for answer in question.answer_set.all %}
                      <input class="form-check-input" required type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
                      <label class="form-check-label" for="answer{{ forloop.counter }}">{{answer.answer_text}}</label><br>
                      <input type="hidden" id="question_id" name="question_id" value="{{ question.id }}">
                      {% endfor %}
                    </div>
                </fieldset>
                <br>
                <input type="submit" value="Zatwierdź" class="btn btn-dark">
            </form>
        </div>
        <div class="col-sm">
            <div class="d-flex align-items-center justify-content-center">
                {% if question.image %}
                <img src="{{ question.image.url }}" class="img-thumbnail">
                {% else %}
                <img src="{% static 'images/Adam.jpg' %}" class="img-thumbnail">
                {% endif %}
            </div>
        </div>
    </div>
  </div>

  
  <div class="container_info">
    <div class="text-center">
      <b>Adam Mickiewicz</b> 
      <p style="color: #212529">.</p>
      <p>ur. 24 grudnia 1798</p> 
      <p>zm. 26 listopada 1855</p> 
      <p style="color: #212529">.</p>
      <p>polski poeta, publicysta, tłumacz, filozof, organizator i dowódca wojskowy, nauczyciel akademicki.</p>
    </div>
  </div>



  <div id="footerwrap" class="tf box tf clear">
    <footer id="footer" class="tf_box pagewidth tf_scrollbar tf_rel">
      <div class="main-col">
        <div class="footer-left-wrap">
          <div id="footer-logo">
            <a href="http://mbpwasilkow.pl/" title="Miejska Biblioteka Publiczna w Wasilkowie" >
              <img src="{% static 'images/logo biblioteki.jpg' %}" alt="miejska biblioteka publiczna w wasilkowie" width="200" class="center">
            </a>
          </div>
          <div class="footer-contact">
            <div class="text-center p-4">
              <p>
                tel: 
                <a href="+48 85 718 52 32">+48 85 718 52 32</a>
                , 
                <a href="+48 516 362 291">+48 516 362 291</a>
                e-mail:
                <a href="mailto:mbpwasilkow@home.pl">mbpwasilkow@home.pl</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="http://mbpwasilkow.pl/">Miejska Biblioteka Publiczna w Wasilkowie</a>
      </div>
    
    </footer>
  </div>


</body>

</html>
