<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/quiz_detail.css' %}">
    <title>Quiz o Mickiewiczu - Pytanie</title>
</head>

<body>
    <div class="row text-center">
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/temp_banner.jpg' %}" alt="baner brak">
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Quiz o Mickiewiczu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'polls:index' %}">Strona główna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tabela Wyników</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      
    <div class="container">
        <div class="border border-2 row question">
            <div class="col d-flex align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <h1>{{ question.question_text }}</h1><br>
                            <h4>{{ question.quote }}</h4>
                        </div>
                        <br>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for answer in question.answer_set.all %}
                        <input class="form-check-input" required type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
                        <label class="form-check-label" for="answer{{ forloop.counter }}">{{answer.answer_text}}</label><br>
                        <input type="hidden" id="question_id" name="question_id" value="{{ question.question_id }}"
                        {% endfor %}
                    </fieldset>
                    <br>
                    <input type="submit" value="Zatwierdź" class="btn btn-success">
                </form>
            </div>
            <div class="col-sm">
                <div class="d-flex align-items-center justify-content-center">
                    {% if question.image %}
                    <img src="{{ question.image.url }}" class="img-thumbnail">
                    {% else %}
                    <img src="{% static 'images/Adam.jpg' %}" class="img-thumbnail">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</body>

</html>