<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/quiz_detail.css' %}">
    <title>Quiz o Mickiewiczu - Pytanie</title>
</head>

<body>
    <div class="row text-center">
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/temp_banner.jpg' %}" alt="baner brak">
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-around text-center">
        <div class="col-sm-4 nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'polls:index' %}">Strona główna</a>
        </div>
        <div class="col-sm-4 nav-item">
            <a class="nav-link font-weight-bold" href="#">Tabela Wyników</a>
        </div>
        <div class="col-sm-4 nav-item ">
            <a class="nav-link font-weight-bold" href="#">Kontakt</a>
        </div>
    </nav>
    <div class="container">
        <div class="border border-2 row question">
            <div class="col d-flex align-items-center">
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <h1>{{ question.question_text }}</h1>
                        </div>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for answer in question.answer_set.all %}
                        <input class="form-check-input" required type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
                        <label class="form-check-label" for="answer{{ forloop.counter }}">{{answer.answer_text}}</label><br>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Vote" class="btn btn-success">
                </form>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    {% if question.image %}
                    <img src="{{ question.image.url }}">
                    {% else %}
                    <img src="{% static 'images/Adam.jpg' %}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>