<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/quiz_detail.css' %}">
    <title>Quiz o Mickiewiczu</title>
</head>

<body>
    <div class="text-center">
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/temp_banner.jpg' %}" alt="baner brak">
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-around text-center">
        <div class="col-sm-4 nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'polls:index' %}">Strona główna</a>
        </div>
        <div class="col-sm-4 nav-item">
            <a class="nav-link font-weight-bold" href="#">Tabela Wyników</a>
        </div>
        <div class="col-sm-4 nav-item ">
            <a class="nav-link font-weight-bold" href="#">Kontakt</a>
        </div>
    </nav>
</body>

</html>

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}